:host{

.user-panel-container{
  background-color: white;
  border: 1px solid #f5f5f5;
  border-radius: 25px;
  padding: 20px;
  min-height: 300px;

}


a, a:active, a:link, a:visited {
  text-decoration: none;
  color: #0066c0;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c45500;
}

}

