<div class="p-20 mt-10">
  <h2> Update Address</h2>
  <form *ngIf="isLoaded" [formGroup]="addressForm" (ngSubmit)="onAddressFormSubmit()">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="100" class="px-1">
        <mat-form-field class="w-100">
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="addressForm.controls.name.errors?.required">Name is required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
        <mat-form-field class="w-100">
          <input matInput placeholder="Address (street, apartment, suite, unit street etc.)" formControlName="street" required>
          <mat-error *ngIf="addressForm.controls.street.errors?.required">Building Number & Street is required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
        <mat-form-field class="w-100">
          <input matInput placeholder="Landmark" formControlName="landmark">
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
        <mat-form-field class="w-100">
          <input matInput placeholder="City" formControlName="city" required>
          <mat-error *ngIf="addressForm.controls.city.errors?.required">City is required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
        <mat-form-field class="w-100">
          <input matInput placeholder="State" formControlName="state" required>
          <mat-error *ngIf="addressForm.controls.state.errors?.required">State is required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
        <mat-form-field class="w-100">
          <input matInput placeholder="Zip/Postal Code" formControlName="zipcode" required>
          <mat-error *ngIf="addressForm.controls.zipcode.errors?.required">Zip/Postal Code is required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="100" class="px-1">
        <mat-form-field class="w-100">
          <input matInput placeholder="Phone Number" formControlName="phone" required>
          <mat-error *ngIf="addressForm.controls.phone.errors?.required">Phone Number is required</mat-error>
          <mat-error *ngIf="addressForm.controls.phone.hasError('minlength')">Phone Number isn't long enough</mat-error>
          <mat-error *ngIf="addressForm.controls.phone.hasError('maxlength')">Phone Number exceeded maximum length of 15 Numbers</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="text-center mt-2">
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>

