:host{


  height: 100%;
  margin:auto;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;

.bs-stepper-header{
  width: 75%;
  margin: auto;
}



}
