<div>
  <div>
    <ng-container *ngIf="isLoggedIn">
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">
            <fa-icon [icon]="faUser"></fa-icon>
            Welcome {{user.userName | titlecase}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="signOut()">Sign Out</a>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">
            <fa-icon [icon]="faUser"></fa-icon>
            Account
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="login()">Sign In</a>
          </div>
        </li>
      </ul>
    </ng-container>
  </div>
</div>