

  <div style="height: 100vh; min-width:500px">
    <nav class="navbar navbar-expand-lg navbar-expand-md .navbar-expand-sm navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><fa-icon [icon]="faShoppingCart"></fa-icon>upGrad Eshop</a>
    
      <div style="text-align: center;
      display: inline-block;
      width: 100%"  id="navbarTogglerDemo03">
        <span style="
        display: inline-block;
    ">
          <form class="form-inline my-2 my-lg-0">
            <app-searchbar></app-searchbar>
          </form>

        </span>        
        <span style="
        display: inline-block;  float:right;
"><app-navbar></app-navbar></span>       
      </div>
    </nav>  
    <app-sub-navbar></app-sub-navbar>
    <div style="padding-bottom: 100px"><router-outlet></router-outlet></div>
    <app-footer ></app-footer>
  </div>
  




 