
<div class="navigation">
<ul class="nav nav-pills" id="pills-tab">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#list-view">Sign In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#map-view">Sign Up</a>
    </li>
</ul>
</div>

<div class="tab-content" id="pills-tab-content">
    <div id="list-view" class="tab-pane fade show active">
        <app-login></app-login>
    </div>
    <div id="map-view" class="tab-pane fade">
        <app-register></app-register>
    </div>
</div>



