

<div class="card" style="width: 200px;"  *ngIf="product">
  <img class="card-img-top" style="width: 200px; height:200px"[src]="product.imageUrl" alt="Card image cap" [routerLink]="['/products/detail', product.productId]" >
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/products/detail', product.productId]"  [title]="product.name">
          {{product.name | truncateText:43}}
        </a>
        <p class="card-text">{{product.price | currency:'INR'}}</p>
      </div>
    </div>
    <div class="row" style="justify-content: space-between; padding-top: 15px">
      <span class="badge badge-primary action-icons" (click)="edit(product)"><fa-icon [icon]="faEdit"></fa-icon></span>
      <span class="badge badge-danger action-icons" (click)="delete(product)"><fa-icon [icon]="faTrash"></fa-icon></span>
    </div>
  </div>
</div>



