<div fxFlexFill>

  <h2>Addresses</h2>


  <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <div fxFlex="0 1 calc(33.3% - 32px)" class="mb-20">

      <div fxLayout="row" fxLayoutAlign="start center">

        <mat-card class="address-item">

          <mat-card-content>
            <div style="text-align: center">
              <app-add-address></app-add-address>
            </div>

          </mat-card-content>


        </mat-card>
      </div>

    </div>

    <ng-container *ngFor="let address of addresses |async ">
      <div fxFlex="0 1 calc(33.3% - 32px)" class="mb-20 address-item">

        <mat-card class="address-item">


          <mat-card-content>
            <p> {{address.name | titlecase }}</p>
            <p> {{address.street}}</p>
            <p> {{address.landmark}}</p>
            <p> {{address.city}}</p>
            <p> {{address.state}}</p>
            <p> {{address.zipcode}}</p>
            <p> Phone: {{address.phone}}</p>

          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary" (click)="edit(address)">Edit</button>
            &nbsp;
            &nbsp;
            &nbsp;
            <button mat-flat-button color="warn"  (click)="delete(address.id)">Delete</button>

          </mat-card-actions>


        </mat-card>


      </div>

    </ng-container>
  </div>


</div>
