

<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="/products" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" href="#">Home</a>
  </li>
  <ng-container *ngFor="let category of categories$ | async; let i = index;">
    <li class="nav-item">
      <a class="nav-link"  *ngIf="i<3"  [routerLink]="['/products/category', category]" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}">{{category}}</a>

    </li>    
  </ng-container>
    
  <ng-container *ngIf="canShowManagerOperations">
    <li class="nav-item">
    <div class="dropdown show">
      <a id="admin-menu"class="nav-link dropdown-toggle" style="color: #007bff !important;
      background-color: #fff !important;" href="#" role="button" id="managerOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin
      </a>
    
      <div class="dropdown-menu" aria-labelledby="managerOptions">
        <a class="dropdown-item"  [routerLink]="['/manager/products']">Manage Products</a>
      </div>
    </div>
  </li>
  
  </ng-container>
</ul>
